body{
	background-color: green;
}
h1{
	text-align: center;
}
/* colocar lo mismo en p y en code */
p,code,s,del{
	/* tamaño de ña fuente */
	font-size: 72px;
}
em{
	color: orange;
	font-size: 64px;

}
.cur1{
	/* propiedad de fondo */
	background-color: #FC0006;
	font-size: 80px;
}
p em{
	color: red;
}
